# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\suli\5\PathFinder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
